.Posts {
  &.dark .card,
  &.dark .list-group,
  &.dark .list-group-item {
    background-color: #663300;
    color: #ffffcc;
  }
  .card {
    height: 200px;
    margin: 10px;
  }
  .card-title {
    margin: 1rem;
  }
}
