.Navigation nav {
  background-color: #663300;
  color: #ffffcc;
}

.Navigation img.logo.d-inline-block.align-top {
  background-color: #transparent;
  margin-left: 5px;
  padding: 10px;
}

.Navigation .navbar-brand {
  background-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.Navigation .blog-menu a {
  color: #ffffcc;
  text-decoration: none;
}
.Navigation .blog-menu a:hover {
  color: #cc9900;
}

